#map-infections, #map-incidence, #map-gemeinden, #map-gemeinden-diff, #map-mutanten, #map-divi {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.supsub {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 60%;
}

.progress-red {
  background-color: #ff6f71;
  text-align:center;
}

.progress-bar-beds {
  position: relative;
  height: 31px;
  background: #1a9641;
  background: -moz-linear-gradient(left, #1a9641 0%, #ffffc0 50% #d7191c 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1a9641), color-stop(50%, #ffffc0 ), color-stop(100%, #d7191c));
  background: -webkit-linear-gradient(left, #1a9641 0%, #ffffc0 50%, #d7191c 100%);
  background: -o-linear-gradient(left, #1a9641 0%, #ffffc0 50%, #d7191c 100%);
  background: -ms-linear-gradient(left, #1a9641 0%, #ffffc0 50%, #d7191c 100%);
  background: linear-gradient(to right, #1a9641 0%, #ffffc0 50%, #d7191c 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a9641', endColorstr='#d7191c', GradientType=1);
  border-radius: 5px;
}

.amount {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.8s;
  background: #e9ecef;
  width: 0;
}

.progress-bar-beds:before {
  content: attr(data-amount)"%";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  line-height: 31px;
}

/* .progress-bar-beds {
  background-color: #1a9641;
  background-image: linear-gradient(90deg, #1a9641 0%, #d7191c 100%);
} */

.below-14-days {
  border: 5px solid #f00;
  border-radius: 5px;
}

.above-14-days {
  border: 5px solid #16b949;
  border-radius: 5px;
}

.progress-value {
  position:absolute;
  right:0;
  left:0;
  top: 15px;
}

.bg-warning-0 {
  background-color: #d7191c;
}
.bg-warning-20 {
  background-color: #fdae61
}
.bg-warning-40 {
  background-color: #ffffc0
}
.bg-warning-60 {
  background-color: #ebfb8f
}
.bg-warning-80 {
  background-color: #a6d96a
}
.bg-warning-100 {
  background-color: #1a9641
}

nav[data-toggle="toc"] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

/* thank you: https://www.creative-tim.com/bits/bootstrap/bootstrap-stats-card-argon-dashboard */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: .375rem;
  background-color: #fff;
  background-clip: border-box;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.card-title {
  margin-bottom: 1.25rem;
}


.icon {
  width: 3rem;
  height: 3rem;
}

.icon i {
  font-size: 2.25rem;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon-shape i {
  font-size: 1.25rem;
}

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.bg-black {
  background-color: black;
}